<!doctype html>
html lang="en"
  head
    meta charset="UTF-8"
    meta name="viewport" content="initial-scale=1.0"
    meta http-equiv="X-UA-Compatible" content="ie=edge"
    title -- Ant Colony
    lasso-head
  body
    main
      p -- Simulated Ant Universe
      universe
    lasso-body
    browser-refresh enabled="true"
