// =====================================================================================================
//            _   _       _                         
//      _    | | | |_ __ (_)_   _____ _ __ ___  ___ 
//    _| |_  | | | | '_ \| \ \ / / _ \ '__/ __|/ _ \
//   |_   _| | |_| | | | | |\ V /  __/ |  \__ \  __/
//     |_|    \___/|_| |_|_| \_/ \___|_|  |___/\___|
//
// =====================================================================================================
/// Contains the style for the class component universe.
/// @group class-components
.universe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  .surface {
    padding: 1em;
  }
}
